<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227248611422-jns9031g3gvor6gl0it7cc5qvpgrq44k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227248611422-jns9031g3gvor6gl0it7cc5qvpgrq44k</string>
	<key>API_KEY</key>
	<string>AIzaSyBFqbqTCRgIqeS43Yq_PJS1a_uEyIqmZjs</string>
	<key>GCM_SENDER_ID</key>
	<string>227248611422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.facerecognition</string>
	<key>PROJECT_ID</key>
	<string>deteksi-wajah-de736</string>
	<key>STORAGE_BUCKET</key>
	<string>deteksi-wajah-de736.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227248611422:ios:56e4ec3af295725aff94cf</string>
</dict>
</plist>